/********** HEADLINES*/
h1{
    /*font-family: Geneva;*/
    font: 14px "lucida", sans-serif; 
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 16px;
    color:#990033;
    margin: 0;
    padding-top:15px;
    background:none;
    letter-spacing:0px;
    font-weight: bold;
	
    
}
h2{
    /*font-family: Geneva;*/
    font: 12px "lucida", sans-serif; 
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 0px;
    color:#990033;
    margin: 0;
    padding-top:15px;
    background:none;
    letter-spacing:0px;

}

h3 
{
    /*font-family: Geneva;*/
    font: 12px "lucida", sans-serif; 
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 0px;
    color:#990033;
    margin: 0;
    padding-top:15px;
    background:none;
    letter-spacing:0px;

}
h4 {
    /*font-family: Geneva;*/
    font: 12px "lucida", sans-serif; 
 
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    color:#666;
    margin: 0;
padding-top:10px;
    background:none;
    letter-spacing:0px;

}
h5 {
    color: #fff;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight:bold;
    margin:0px;
    margin-bottom:10px;

}

/********** HORIZONTAL LINE*/
hr{
    border: 1px; /* FÃ¼r Firefox und Opera */
    border-top:1px solid #0465C6;
    margin: 1px;

}


html{
    margin:0px;
}

body{ 
    display:block;
    top:0px;
    bottom:0px;
	/*background:#f1f1f1;*/
    font: 9pt "lucida", sans-serif; 
    font-style: normal;
    font-variant: normal;
    font-weight: 500;


}
#header {
	position:relative;
    top:10px;
    min-height:50px;
    margin-left:auto;
    margin-right:auto;
    min-width:1000px;
    max-width:1000px;
	height: auto;
    /*padding:20px;*/
    background:none;
    margin-top:5px;
    margin-bottom: 10px;
	padding:5px;
	border: 1px solid #d1d1d1;
	
}
#warnings {
	position:relative;
    top:10px;
    min-height:20px;
    margin-left:auto;
    margin-right:auto;
    min-width:1000px;
    max-width:1000px;
	height: auto;
    /*padding:20px;*/
    background:none;
    margin-top:5px;
    margin-bottom: 10px;
	padding:5px;
	border: 1px solid #d1d1d1;
	display:none;
}


.maincontainer {
	position:relative;
   
    min-height:600px;
    margin-left:auto;
    margin-right:auto;
    min-width:1000px;
    max-width:1000px;
	padding: 5px;
    /*padding:20px;*/
    background:none;
    margin-top:30px;
    margin-bottom: 100px;
	border: 1px solid #d1d1d1;
	
}

.floating {
	position:relative;
	width: 550px;
	min-height: 30px;
	float:left;
	margin-left: 20px;
 
	
}

.floatingsmall {
	position:relative;
	width: 380px;
	min-height: 30px;
	float:left;
	margin-left: 20px;
 
	
}
.headertable {
	position:relative;
	width: 300px;
	min-height: 30px;
	float:left;

	 
}
.headerinfo {
	position:relative;
	width: 80px;
	height: 80px;
	top: 5px; 
	float:left;

 
}
.mainlistcontainer {
	
	position:relative;
    top:10px;
	width: 306px;
    min-height:300px;
    background:none;
    margin: 10px;
	margin-top: 0px;
	border: 1px solid #d1d1d1;
	float: left;
}

.list-headline{
	position:relative;
    top:0px;
	width: 295px;
    height: 20px;
    background:none;
    margin: 5px;
	border-bottom: 1px solid #d1d1d1;
	color:#990033;
	font: 12px "lucida", sans-serif; 
	text-align: center;


}
button{

}
.list-list{
	position:relative;
	top:0px;
	width: 305px;
	max-height: 280px;
	background:none;
	margin: 0;
	border: 0px solid #d1d1d1;
	overflow-y:scroll; 
	

}
td {
	vertical-align: top;
}
b {
	color: #990033;
}
li {
	cursor:pointer;
	margin-bottom:5px;
	font-size: 10px;
}
li:hover{
	color:#990033;
	font-weight: bold;
}

.installed{
	color:#129600;
	font-weight: bold;
}
.missing{
	color:#c71104;
	font-weight: bold;
}
.log-window
{
	position:relative;
	width: 960px;
	min-height: 100px;
	margin:10px;
	padding:10px;
	float: left;
	border: 1px solid #e1e1e1;
	
}
.menu-window
{
	position:relative;
	width: 960px;
	min-height: 20px;
	margin:10px;
	padding:10px;
	padding-bottom: 0px;
	float: left;
	border: 1px solid #e1e1e1;
	
}
 
.clear
{
	clear:both;
	
}