:root {
	--game-stat-height: 394px;
	--card-width: 340px;
}


@media (max-width: 1200px) {
	.side-section {
		flex-direction: column;
		max-width: 33%;
	}

	.server-info [data-stat] .label:after {
		content: ':';
	}
	.server-info [data-stat] br {
		display: none;
	}

	[data-stat='server-map'] {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


body[data-mode='legacy'] [data-stat='team-wins'],
body[data-mode='legacy'] [data-stat='server-round'],
body[data-mode='legacy'] [data-stat='team-lastwinner'],
body[data-mode='legacy'] [data-stat='team-score'],
body[data-mode='legacy'] [data-stat='player-score'],
body[data-mode='legacy'] [data-stat='player-deaths'] {
	display: none;
}

body[data-mode='legacy'] .server-info [data-stat] .label:after {
	content: ':';
}
body[data-mode='legacy'] .server-info [data-stat] br {
	display: none;
}

body[data-mode='trimmed'] {}


/* 1. Generic server info */
.server-info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 4px;
	box-sizing: border-box;
	height: var(--game-stat-height);
	max-height: var(--game-stat-height);
	text-align: center;
}
.server-info > div {
	flex: 1;
	margin: 0 10px;
}
.server-info > div > div {
	flex: 1;
}

.side-section {
	display: flex;
	width: 100%;
	white-space: nowrap;
}
.side-section > div {
	flex: 1;
	margin: 0 5px 5px;
}

[data-stat='team-wins'] {
	padding-top: 15px;
	font-size: 31px;
}
[data-stat='team-wins'] span {
	white-space: nowrap;
}


/* 2. Per-player stats */
.players-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 22px;
	height: calc(100vh - var(--game-stat-height));
}

.player-card {
	padding: 1px 0 2px 4px;
}

.player-name {
	display: flex;
	height: 29px;
}

.player-stats {
	justify-content: space-between;
}