:root {
  /* Main params live here */
  --text-color-team0: #E9514F;
  --text-color-team1: #74ACDA;

  --card-gap-between    : 4px;
  --card-width          : 100%;
  --card-border-radius  : 7px;
  --card-bg-color       : rgba(100, 100, 100, 0.40);
  --card-bg-color-team0 : rgba(209,  72,  71, 0.75); /* rgba(233,81,79, 0.7); #E9514F */
  --card-bg-color-team1 : rgba(104, 154, 196, 0.75); /* rgba(116,172,218, 0.7); #74ACDA */
  --card-text-size      : 18px;
  --card-name-color     : rgb(240, 240, 240);
  --card-stat-width     : 180px;
  --card-stat-color     : rgb(220, 220, 220);
}

:root {
  /* Main params live here */

}




body {
  margin: 0;
  min-width: 800px;
  background-color: #000000;
  color: rgb(230, 230, 230);
  font-family: Tahoma, sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-shadow: 1px 1px 3px #000000;
}


#overlay {}

.server-info {}

.server-info span[data-team='0'] { color: var(--text-color-team0); }
.server-info span[data-team='1'] { color: var(--text-color-team1); }


.players-wrapper {}

.card-container {
  /*display: flex;*/
  /*flex-direction: column;*/
  width: var(--card-width);
}

.player-card {
  margin-bottom: var(--card-gap-between);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--card-bg-color);
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--card-border-radius);
  font-size: var(--card-text-size);
  text-align: left;
  text-shadow: 1px 1px 5px #000000;
}
.player-card[data-team='0'].alive { background-color: var(--card-bg-color-team0); }
.player-card[data-team='1'].alive { background-color: var(--card-bg-color-team1); }

.player-name {
  overflow: hidden;
  color: var(--card-name-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-stats {
  display: flex;
  justify-content: space-between;
  /*overflow: hidden;*/
  color: var(--card-stat-color);
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
}
.player-stats > div {
  flex: 1;
}