:root {
	--overlay-width: 420px;
	--card-width: inherit;
}


body[data-mode='basic'],
body[data-mode='legacy'] {
	--overlay-width: 350px;
	--card-stat-width: 90px;
}

body[data-mode='basic'] [data-stat='team-wins'],
body[data-mode='basic'] [data-stat='server-round'],
body[data-mode='basic'] [data-stat='team-lastwinner'],
body[data-mode='basic'] [data-stat='team-score'],
body[data-mode='basic'] [data-stat='player-score'],
body[data-mode='basic'] [data-stat='player-deaths'],
body[data-mode='legacy'] [data-stat='team-wins'],
body[data-mode='legacy'] [data-stat='server-round'],
body[data-mode='legacy'] [data-stat='team-lastwinner'],
body[data-mode='legacy'] [data-stat='team-score'],
body[data-mode='legacy'] [data-stat='player-score'],
body[data-mode='legacy'] [data-stat='player-deaths'] {
	display: none;
}

body[data-mode='basic'] [data-stat='server-players'],
body[data-mode='legacy'] [data-stat='server-players'] {
	margin-bottom: 30px;
}


#overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 10px;
	min-width: var(--overlay-width);
}

/* 1. Generic server info */
.server-info {
	text-align: center;
}

.server-info-row {
	display: flex;
	width: 100%;
	white-space: nowrap;
}
.server-info-row > div {
	flex: 1;
	margin: 0 5px 5px;
}

[data-stat='server-name'] {
	display: none;
}

[data-stat='server-map'] {
	margin-bottom: 5px;
}

[data-stat='server-players'] {
	margin-bottom: 20px;
}

[data-stat='team-wins'] {
	font-size: 56px;
	line-height: 1.0;
}

[data-stat='server-round'] {
	margin-bottom: 35px;
}

[data-stat='team-lastwinner'] {
	margin-bottom: 5px;
}


/* 2. Per-player stats */
.card-container {
	margin: 40px auto 0;
}

.card-container .player-card:first-child {
	--card-height: 26px;

	background: none;
	border: none;
}

.player-card {
	display: flex;
	padding: 0 0 0 5px;
	height: var(--card-height);
}

.player-name {
	flex: 1;
}

.player-stats {
	min-width: var(--card-stat-width);
	text-align: center;
}