:root {
  --text-color-accent : #990033;
  --text-color-team0  : #ff0000;
  --text-color-team1  : #0055ff;
}

html {
  margin: 0;
}

body {
  font-family: 'lucida', sans-serif;
  font-size: 9pt;
  font-weight: normal;
}

a, b, strong {
  color: var(--text-color-accent);
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}


section {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 1000px !important;
  height: auto;
  background: none;
  border: 1px solid #d1d1d1;
}
section > *:not(:first-child) {
  margin-left: 20px;
}


#header {
  margin-top: 15px;
  margin-bottom: 10px;
  min-height: 50px;
}

#queryForm label {
  display: block;
  margin: 5px 0;
}
#queryForm label span {
  display: inline-block;
  width: 82px !important;
}
#queryForm label input {
  box-sizing: border-box;
  width: 180px;
}
#queryForm input:invalid {
  border-color: red;
}
#queryForm input:invalid:focus {
  outline: red;
}

#loader {
  margin-top: 5px;
  margin-left: 35px;
}

#gameinfo td {
  padding: 3px;
}


#warnings {
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 20px;
}


#gamestats {
  margin: 20px auto 100px;
  min-height: 600px;
}

#teaminfo {

}

#teaminfo th, #teaminfo td,
#players th, #players td {
  padding: 5px;
}

tr[data-team='t']  { color: var(--text-color-team0); }
tr[data-team='ct'] { color: var(--text-color-team1); }
tr[data-dead='true'] { color: #aaa !important; }