html {
  margin: 0;
}

body {
  /*background: #f1f1f1;*/
  font-family: 'lucida', sans-serif;
  font-size: 9pt;
  font-weight: normal;
}

a, b, strong {
  color: #990033;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}


.hidden {
  display: none !important;
}

.flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-0 { flex: 0; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }


section {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 1000px !important;
  height: auto;
  background: none;
  border: 1px solid #d1d1d1;
}
section > *:not(:first-child) {
  margin-left: 20px;
}


#header {
  margin-top: 15px;
  margin-bottom: 10px;
  min-height: 50px;
}

#queryForm label {
  display: block;
  margin: 5px 0;
}
#queryForm label span {
  display: inline-block;
  width: 82px !important;
}
#queryForm label input {
  box-sizing: border-box;
  width: 180px;
}

#loader {
  margin-top: 5px;
  margin-left: 35px;
}

#gameinfo td {
  padding: 3px;
}


#warnings {
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 20px;
}


#gamestats {
  margin: 20px auto 100px;
  min-height: 600px;
}

#teaminfo {

}

#teaminfo th, #teaminfo td,
#players th, #players td {
  padding: 5px;
}
#teaminfo tr[data-team='t'],
#players tr[data-team='t'] {
  color: #ff0000;
}
#teaminfo tr[data-team='ct'],
#players tr[data-team='ct'] {
  color: #0055ff;
}
#players tr[data-dead='true'] {
  color: #aaa !important;
}